<!DOCTYPE html>
<html>
  <head>
    <title>WdngThm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Narendra - Geeta </title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
        <!-- bootstrap -->
        <!-- <link rel="stylesheet" href="assets/bootstrap.min.css"> -->
        <!-- fontawesome icon  -->
        <!-- <link rel="stylesheet" href="assets/fontawesome.min.css"> -->
        <!-- flaticon css -->
        <!-- <link rel="stylesheet" href="assets/flaticon.css"> -->
        <!-- animate.css -->
        <!-- <link rel="stylesheet" href="assets/animate.css"> -->
        <!-- Owl Carousel -->
        <!-- <link rel="stylesheet" href="assets/owl.carousel.min.css"> -->
        <!-- magnific popup -->
        <!-- <link rel="stylesheet" href="assets/magnific-popup.css"> -->
        <!-- stylesheet -->
        <!-- <link rel="stylesheet" href="assets/style.css"> -->
        <!-- responsive -->
        <!-- <link rel="stylesheet" href="assets/responsive.css"> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
